html, body {
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	text-align: center;
	margin: 0;
}

#main {
	position: absolute;
	width: 100%;
	top: 15%;
}

#title ::selection, #btn_sign_in ::selection {
	background: transparent;
}

#title {
	font-size: 128pt;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #083;
	cursor: default;
}

#sign_in {
	width: 33.33333%;
	margin-left: 33.33333%;
}

.fill div {
	margin-bottom: 3%;
	border-bottom: 2px solid #aaa;
	border-radius: 2px;
}

input[type="text"], input[type="password"] {
	margin-bottom: 1%;

	border: none;
	outline: none;

	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 22pt;
	line-height: 1.5em;

	color: #476;
}

#btn_sign_in {
	position: relative;
	width: 70%;
	margin-top: 2%;
	margin-bottom: 2%;

	color: #fff;
	font-size: 1.5em;
	line-height: 1.45em;
	font-family: "Roboto", sans-serif;

	background-color: #083;
	border: none;

	cursor: pointer;
}

#links div {
	display: inline-block;
	margin-right: 1%;
}

#links a {
	color: #9aa;
}

#media {
	position: absolute;
	width: 15%;
	left: 50%;
	margin-top: 1%;
	margin-left: -7.5%;

	font-size: 0.9em;
}

#media_button img {
	margin-left: 5px;

	cursor: pointer;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 1%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	color: #465;
}