#search {
	position: absolute;
	top: 20%; left: 12.5%;
	width: 75%;
}

form {
	width: 95%; height: 40px;
	margin-left: 2.5%;
	margin-bottom: 5%;
	
	background-color: #083;
}

form > div {
	display: inline;
}

form div input[type="text"] {
	outline: none;
	border: none;
	padding-left: 5px;

	margin-top: 7.5px;
	width: 30%;

	font-size: 14pt;
	line-height: 1.25em;
	font-family: "Roboto", sans-serif;
	color: #476;

	background-color: #fff;
}
::-webkit-input-placeholder {
	 	text-align: center;
	 	padding-left: 0;
}

form div select {
	text-align-last: center;
	width: 30%;

	font-size: 14pt;
	line-height: 1.25em;
	font-family: "Roboto", sans-serif;
	color: #476;
}

.column {
	display: inline-table;
    width: 25%; height: 100%;
    margin-left: -3.2px;
    margin-right: -3.2px;

    background-color: #fff;
}

.column_name {
	background-color: #083;

	border-top: 2px solid #083;

	border-right: 2px solid #fff;
	border-left: 2px solid #fff;

	font-size: 16pt;
	line-height: 1.25em;
	color: #fff;
}

.results {
	border: 2px solid #083;

	line-height: 1.25em;
}