::-webkit-input-placeholder {
	text-align: center;
	padding-left: 0;
}

form {
	width: 66.666%;
	margin-left: 16.666%;
}

#info {
	margin-bottom: 4%;
	text-align: left;
	padding-left: 2%;

	font-size: 16pt;
	line-height: 1.5em;
	
	border-bottom: 2px solid #083;
	border-radius: 2px;
}
#info > span {
	margin-right: 5%;
}

#isMulti {
	float: left;
	margin-left: 7%;
}
.isMulti {
	display: inline-block;
	vertical-align: top;
	margin-right: 4px; margin-top: 3%;

	width: 130px; height: 20px;
	border: 1px solid #083;

	cursor: pointer;
}
.isMulti ::selection {
	background: transparent;
}
.isMulti div {
	display: inline-block;
	width: 110px; height: inherit;
	vertical-align: middle;
	float: right;

	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #fff;

	background-color: #083;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.isMulti:hover div {
	background-color: #194;
}
.isMulti:active div {
	background-color: #083;
}
input[type="radio"] {
	display: none;
}
.checkmark {
	display: inline-block;
	height: inherit; width: 20px;
	background-color: #fff;
}
.checkmark:after {
	content: "";
	display: none;

	cursor: pointer;
}
.container input:checked ~ .checkmark:after {
	display: inline-block;
}
.container .checkmark:after {
	margin-top: 4px;
	width: 12.5px; height: 12.5px;
	background-color: #083;
}

#points {
	float: right;
	margin-bottom: 1.5%; margin-right: 10%;
}
#points img {
	height: 20px;

	cursor: pointer;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#points input[type="text"] {
	text-align: center;
	width: 70px; height: inherit;
	margin-bottom: 5px;
	
	font-size: 14pt;
	font-weight: bold;
	color: #476
}

#text textarea {
	padding-left: 5px;
	width: 90%;
	margin-bottom: 5px;

	font-size: 15pt;
	color: #476;

	outline-color: #083;
}
textarea::-webkit-input-placeholder {
	text-align: left;
}

#answers {
	float: left;
	margin-left: 6%;
}
#answers input[type="text"] {
	padding-left: 5px;
	height: 22px;
	margin-bottom: 4px;
	margin-right: 4px;

	border: 1px solid #aaa;
	outline-color: #083;
}
button[name="add_answer"] {
	border: none;
	outline: none;

	position: absolute;
	top: 44.5%; left: 72%;

	width: 24px; height: 24px;
	vertical-align: middle;
	margin-left: 0px; margin-top: -1px;

	font-size: 16pt;
	font-weight: bolder;
	color: #fff;
	background-color: #083;

	cursor: pointer;
}
button[name="remove_answer"] {
	border: none;
	outline: none;
	
	position: absolute;
	top: 44.5%; left: 75%;

	width: 24px; height: 24px;
	vertical-align: middle;
	margin-left: 0px; margin-top: -1px;

	font-size: 16pt;
	font-weight: bolder;
	color: #fff;
	background-color: #038;

	cursor: pointer;
}

.big_btn[name="add_question"] {
	border: none;

	position: absolute;
	bottom: 27%; left: 50%;
	margin-left: -100px;
	width: 200px; height: 40px;

	font-size: 16pt;
	color: #fff;

	background-color: #083;
	cursor: pointer;
}
.big_btn[name="add_question"]:hover {
	background-color: #194;
}
.big_btn[name="add_question"]:active {
	background-color: #072;
}

.big_btn[name="create"] {
	border: none;

	position: absolute;
	bottom: 19%; left: 50%;
	margin-left: -100px;
	width: 200px; height: 40px;

	font-size: 16pt;
	color: #083;

	background-color: #fff;
	border: 2px solid #083;
	cursor: pointer;
}
.big_btn[name="create"]:hover {
	box-shadow: 0 0 5px #000;
}
.big_btn[name="create"]:active {
	box-shadow: none;
}
