html, body {
	min-width: 1200px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	height: 100%;
	margin: 0;
	color: #083;
}
input {
	font-family: "Roboto", sans-serif;
	color: #476;
}

/*Main*/

#header {
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0; left: 0;

	background-color: #083;
	box-shadow: 0 5px 5px #bbb;
}

#header ::selection, #rightbar ::selection {
	background: transparent;
}

#header #title {
	text-align: center;
	font-size: 3.5vw;
	line-height: 4.5vw;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #fff;

	cursor: pointer;
}

#header #exit {
	margin-top: -3.85%;
	text-align: right;
}
#header #exit img {
	width: 3.333vw; height: 3.333vw;
	margin-right: 0.8%;
	cursor: pointer;
}

#content {
	min-width: 800px;
	position: absolute;
	top: 10%; left: 16.666%;

	padding-top: 3%;
	
	background-color: #fff;
	width: 71.333%; height: 83%;
}

#leftbar {
	overflow: hidden;
	min-width: 180px;
	position: fixed;
	top: 10%; left: 0;
	width: 16.666%; height: 100%;
	background-color: #fff;
	border-right: 2px solid #476;

	color: #000;
}

#leftbar .button {
	text-align: center;
	padding: 1.666% 5% 1.666% 0%;

	font-size: 13.5pt;
	line-height: 1.3em;

	margin: 2px;
	background-color: #ddd;
	cursor: pointer;
}

#rightbar {
	overflow: hidden;
	min-width: 135px;
	position: fixed;
	float: right;
	top: 10%; right: 0;
	width: 12%; height: 100%;
	background-color: #fff;
	border-left: 2px solid #476;	
}

#rightbar .button {
	text-align: center;
	padding: 1.666% 5% 1.666% 0%;

	font-size: 13pt;
	line-height: 1.35em;
	font-family: 'Montserrat', sans-serif;
	
	margin: 2px;
	background-color: #fff;
	cursor: pointer;
}
#rightbar .button:hover {
	background-color: #cec;
}

#footer {
	position: fixed;
	width: 100%; height: 7%;
	bottom: 0;

	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	color: #465;

	background-color: #bbb;
}

#footer_text {
	margin-top: 5px;
}

/*Pop-up*/
.overlay {
	position: fixed;
	z-index: 1;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.popup_window {
	position: fixed;
	z-index: 2;
	height: 350px; width: 350px;
	top: 50%; left: 50%;
	margin-top: -190px;
	margin-left: -175px;

	background-color: #fff;
	border: 2px solid #083;
}

.popup_close {
	position: fixed;
	left: 50%; top: 50%;
	margin-top: -183px;
	margin-left: 145px;
	width: 28px; height: 28px;
	border-radius: 50%;
	background-color: #083;

	text-align: center;
	font-size: 18pt;
	font-weight: bolder;
	color: #fff;

	cursor: pointer;
}
.popup_close::selection {
	background: transparent;
}

.popup_inner {
	margin-top: 15%;

	/*Без этого почему-то зелёный*/
	background: none;
}
.popup_inner > div {
	/*Без display: block; странно отображает */
	display: block;
	margin-left: 10%;
	width: 80%;
	border-bottom: 2px solid #aaa;
	border-radius: 2px;
	margin-bottom: 12%;
}
.popup_inner input[type="text"] {
	margin-bottom: 1%;
	width: inherit;

	border: none;
	outline: none;

	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	font-size: 22pt;
	line-height: 1.5em;

	color: #476;
}
.popup_inner .button {
	border: none;
	width: 200px; height: 40px;
	margin-top: 1%;

	font-size: 16pt;
	color: #fff;

	background-color: #083;
	cursor: pointer;
}