/*Search tool*/
#search_tool {
	position: fixed;
	z-index: 1;
	top: 10%; left: 88%;
	width: 200px; height: 35px;
	margin-left: -203px;
	border-left: 1px solid #083;
	border-bottom: 1px solid #083;
	background-color: #fff;
}
#search_button {
	margin-top: 3.6%;
	float: left; margin-left: 6%;
}
#search_button input {
	background-image: url('../img/search_tool.svg');
	background-size: 100%;
	background-color: #fff;
	width: 20px; height: 20px;
	border: none;

	cursor: pointer;
}
#underline {
	display: inline-block;
	width: 75%; height: 66.666%;
	margin-top: 2%; margin-left: -3%;
	border-bottom: 2px solid #aaa;
	border-radius: 2px;
}
input[name="search"] {
	width: 95%;
	padding-left: 7px;
	margin-bottom: 1%;

	outline: none;
	border: none;

	font-size: 14pt;
	color: #476;
}

/*Test lists*/
.test_list {
	width: 90%;
	margin-left: 4%;
	margin-bottom: 3%;
}
.list_head {
	border-bottom: 2px solid #083;
	border-radius: 2px;

	text-align: left;
	padding-left: 2%;
}
.list_head span {
	font-size: 18pt;
	line-height: 1.5em;
}
.container {
	margin-top: 1.3%;
	margin-left: 1.5%;
}
.test {
	vertical-align: top;
	display: inline-block;
	width: 120px;

	margin-right: 1.5%;
}
.cover {
	width: inherit; height: 130px;
	border: 2px solid #083;
	margin-bottom: 2px;
	background-color: #fff;
	cursor: pointer;
}
.cover:hover {
	background-color: #cec;
}
.cover:active {
	background-color: #fff;
}
.subject_ico {
	position: relative;
	left: 84%; top: 2%;
	width: 16px; height: 16px;
	background-color: blue;
}
.cover_image {
	text-align: center;
	width: 90%; height: 66.666%;
	margin-top: 5%; margin-left: 5%;
	margin-bottom: 2.5%;

	background-size: 100%;
}
.cover_name {
	text-align: center;
	width: 75%;
	margin-left: 12.5%;

	border-bottom: 2px solid #083;
	border-radius: 2px;
}
.cover_name span {
	font-size: 15pt;
}
#add_test .cover {
	text-align: center;
	background-color: #083;
}
#add_test .cover:hover {
	background-color: #194;
}
#add_test .cover:active {
	background-color: #083;
}
.options {
	display: block;
}
.options img {
	margin-right: 4px;
	cursor: pointer;
}
#delete_popup .popup_window {
	text-align: center;
	position: fixed;
	z-index: 2;
	height: 175px; width: 350px;
	top: 50%; left: 50%;
	margin-top: -125px;
	margin-left: -175px;

	background-color: #fff;
	border: 2px solid #083;	
}
#delete_popup .popup_close {
	margin-top: -118px;
}
#delete_popup .popup_window span {
	font-size: 22pt;
}
#delete_popup .popup_window button {
	display: inline;
	width: 110px;
}
#delete_popup .popup_inner {
	margin-top: 11.5%;
}
#delete_popup .popup_inner > div {
	margin-bottom: 4%;
	border: none;
}