html, body {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

#header {
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0; left: 0;

	background-color: #083;
	box-shadow: 0 5px 5px #bbb;
}

#header ::selection {
	background: transparent;
}

#title {
	text-align: center;
	font-size: 3.5vw;
	line-height: 4.5vw;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #fff;

	cursor: pointer;
}

form {
	position: absolute;
	top: 16.666%; left: 16.666%;
	width: 66.666%;
}

form div {
	margin: auto;
	margin-bottom: 3%;
}

.fill > div {
	width: 33.333%;
	border-bottom: 2px solid #aaa;
	border-radius: 2px;
}

.fill input[type="text"], .fill input[type="password"] {
	border: none;
	outline: none;
	width: 98%;

	text-align: center;
	font-size: 22pt;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;

	margin-bottom: 1%;

	color: #476;
}

#btn_submit {
	border: none;

	width: 20%;

	font-size: 1.5em;
	line-height: 1.45em;
	color: #fff;

	background-color: #083;
	cursor: pointer;
}